@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.answers {
    display: flex;
    flex-direction: column;
    background-color: #F1F0EA;
    width: 40%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

h1, h5 {
    text-align: center;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.Container {
    text-align: center;
    margin-bottom: 5px;
}

#submitBtn {
    cursor: pointer;
    font-size: 25px;
    position: relative;
    z-index: 0;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: auto;
    width: fit-content;
}

#submitBtn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

#submitBtn:active {
    color: rgb(255, 255, 255);
    background-color: rgb(169, 169, 169);
    border: 2px solid rgb(255, 255, 255);
}